@page "/quizcard"
@inherits QuizCardBase
@using Quizzing.Components

<div class="container">
    <div class="quiz">
        @if (questionIndex < Cards.Count())
        {
            <div class="app-title">
                Тест
            </div>
            <div class="quiz-header">
                @Cards[questionIndex].QuestionTitle
            </div>
            <div class="quiz-body">
                @foreach (var option in Cards[questionIndex].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                }
            </div>
            @if (@showAnswers)
            {
                <div class="quiz-header">
                    @Cards[questionIndex].Answer
                </div>
                <div class="quiz-footer">
                    <button class="next-btn" @onclick="@ShowNext">Далі</button>
                </div>
            }
        }
        else
        {           
            <div class="app-title">
                <b> @score з @Questions.Count() балів</b>
            </div>
            <div class="app-title">
               @if (score == 10){
                   <p> Та ти профі! Жодної помилки. До речі, знаєш наголос у слові помилка?</p>
               }
               else if (7 <= score && score <= 9){
                    <p>Майже профі! Ну ще трохи, і можна інших вчити!</p>
               }
               else if (4 <= score && score <= 6){
                    <p>Не засмучуйся! Дещо таки знаєш!</p>
               }
               else if (score <= 3){
                    <p>Далеко до ідеалу, але є куди прагнути!</p>
               }
            </div>           
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@RestartQuiz">Пройти тест знову</button>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@ShowAnswers">Показати відповіді</button>
            </div>
        }
    </div>
</div>