@page "/quizcard"
@inherits QuizCardBase
@using Quizzing.Components

<div class="container">
    <div class="quiz">
        @if (questionIndex < Cards.Count())
        {
            <div class="app-title">
                Тест
            </div>
            <div class="quiz-header">
                @Cards[questionIndex].QuestionTitle
            </div>
            <div class="quiz-body">
                @foreach (var option in Cards[questionIndex].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                }
            </div>
            @if (@showAnswers)
            {
                <div class="quiz-header">
                    @Cards[questionIndex].Answer
                </div>
                <div class="quiz-footer">
                    <button class="next-btn" @onclick="@ShowNext">Далі</button>
                </div>
            }
        }
        else
        {
            <div class="app-title">
                @if (score > (Questions.Count / 2))
                {
                    <img src="https://img.icons8.com/ios/100/000000/prize--v1.png" />
                }
                else
                {
                    <img src="https://img.icons8.com/color/96/000000/lose.png" />
                }
            </div>
            <div class="app-title">
                @(score > (Questions.Count() / 2) ? "Вітання" : "Спробуйте ще")
            </div>
            <div class="quiz-header">
                <b>Ваша оцінка: @score з @Questions.Count() балів!</b>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@RestartQuiz">Пройти тест знову</button>
            </div>
            <div class="quiz-footer">
                <button class="next-btn" @onclick="@ShowAnswers">Показати відповіді</button>
            </div>
        }
    </div>
</div>